.drawerHeaderContainer
  display: flex
  justify-content: flex-end
  width: 100%
  .menu-icon-container 
    width: $collapsedDrawerWidth
    position: relative
    height: 60px
    cursor: pointer
    transition: all 100ms ease-in-out 
    .line 
      position: absolute
      background: white
      width: 25px
      height: 2px
      @include centerHor
      transition: all 100ms ease
    .line-top 
      top: 39%

    .line-center 
      top: 50%

    .line-bottom 
      top: 61%
