body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; }

* {
  font-family: 'Roboto', sans-serif; }

ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }

a {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
  text-decoration: inherit;
  color: inherit;
  cursor: auto; }
  a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto; }

.contentContainer {
  width: 100%;
  position: relative;
  height: 100%; }

.hideComponent {
  visibility: hidden;
  opacity: 0; }

.drawerHeaderContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 100%; }
  .drawerHeaderContainer .menu-icon-container {
    width: 50px;
    position: relative;
    height: 60px;
    cursor: pointer;
    -webkit-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out; }
    .drawerHeaderContainer .menu-icon-container .line {
      position: absolute;
      background: white;
      width: 25px;
      height: 2px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      -webkit-transition: all 100ms ease;
      -o-transition: all 100ms ease;
      transition: all 100ms ease; }
    .drawerHeaderContainer .menu-icon-container .line-top {
      top: 39%; }
    .drawerHeaderContainer .menu-icon-container .line-center {
      top: 50%; }
    .drawerHeaderContainer .menu-icon-container .line-bottom {
      top: 61%; }

.wrapper {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  .wrapper .drawerContainer {
    height: 100%;
    width: 50px;
    background: #252d3a;
    -webkit-transition: width 300ms ease-in-out;
    -o-transition: width 300ms ease-in-out;
    transition: width 300ms ease-in-out;
    z-index: 5000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative; }
    .wrapper .drawerContainer .navListContainer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%;
      height: 45%;
      margin-top: 30px; }

.navItemContainer {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  color: #888e9a;
  font-size: 16px;
  cursor: pointer;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .navItemContainer:hover {
    color: #ecf0f1; }
  .navItemContainer:hover .fa {
    color: #25a79f; }
  .navItemContainer .iconContainer {
    width: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .navItemContainer .navDesc {
    font-size: 14px; }

.active {
  color: #ecf0f1; }
  .active .fa {
    color: #25a79f; }

.optionsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 50%;
  width: 100%; }
  .optionsContainer .contentContainer {
    width: calc(100% - $collapsedDrawerWidth); }
