body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden; }

* {
  font-family: 'Roboto', sans-serif; }

ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }

a {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
  text-decoration: inherit;
  color: inherit;
  cursor: auto; }
  a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto; }

.contentContainer {
  position: relative;
  height: 100%;
  padding-left: 50px;
  width: 100%; }

.hideComponent {
  visibility: hidden;
  opacity: 0;
  z-index: -1; }

.blackBackground {
  background: black;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  position: absolute;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }

iframe {
  width: 100%;
  height: 100vh; }

.resultMessageContainer {
  height: 50px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  z-index: 1000; }
  .resultMessageContainer .resultIconContainer {
    width: 50px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 20px; }
  .resultMessageContainer .resultMessageContent {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 50px 0 20px;
    color: white;
    font-size: 14px; }

.success {
  background: #10ac84;
  border-bottom: 2px solid #218c74; }
  .success .resultIconContainer {
    background: #33d9b2;
    color: #10ac84; }

.error {
  background: #c0392b;
  border-bottom: 2px solid #b33939; }
  .error .resultIconContainer {
    background: #e74c3c;
    color: #c0392b; }

.hideSlide {
  top: -300px; }

.confirmDeleteContainer {
  width: 350px;
  background: white;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  z-index: 1000; }
  .confirmDeleteContainer .messageContainer {
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    color: #6c6c6c; }
    .confirmDeleteContainer .messageContainer span {
      margin: 20px; }
  .confirmDeleteContainer .footerContainer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #3367d6; }
    .confirmDeleteContainer .footerContainer span {
      cursor: pointer;
      margin-right: 20px; }
    .confirmDeleteContainer .footerContainer .confirmDelete:hover {
      color: #2ecc71; }
    .confirmDeleteContainer .footerContainer .cancelDelete:hover {
      color: #e74c3c; }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(3600deg);
    transform: rotate(3600deg); } }

.loader {
  width: 100%;
  height: 100%;
  background: white;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  z-index: 1000;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #3367d6; }

.spinner {
  font-size: 40px;
  -webkit-animation: rotate 10s linear infinite;
  animation: rotate 10s linear infinite;
  margin-bottom: 20px; }

.encomendasWrapper {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .encomendasWrapper .searchContainer {
    width: 100%;
    height: 60px;
    background: #3367d6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .encomendasWrapper .searchContainer input {
      width: 40%;
      padding: 10px;
      background: #2850a7;
      color: white;
      border: none;
      outline: none; }
      .encomendasWrapper .searchContainer input::-webkit-input-placeholder {
        color: #ecf0f1; }
      .encomendasWrapper .searchContainer input:-ms-input-placeholder {
        color: #ecf0f1; }
      .encomendasWrapper .searchContainer input::-ms-input-placeholder {
        color: #ecf0f1; }
      .encomendasWrapper .searchContainer input::placeholder {
        color: #ecf0f1; }
    .encomendasWrapper .searchContainer select {
      padding: 9px;
      border: none;
      margin-right: 10px; }
    .encomendasWrapper .searchContainer .submitButton {
      width: 36px;
      height: 36px;
      color: white;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background: #2850a7;
      border-radius: 3px;
      -webkit-transform: translateX(-10px);
      -ms-transform: translateX(-10px);
      transform: translateX(-10px); }
      .encomendasWrapper .searchContainer .submitButton .cancelSearch {
        cursor: pointer; }
    .encomendasWrapper .searchContainer .newListItemBtn {
      padding: 10px 15px;
      border-radius: 5px;
      color: white;
      background: #EA2027;
      -webkit-transition: all 100ms ease;
      -o-transition: all 100ms ease;
      transition: all 100ms ease;
      cursor: pointer;
      margin-left: 10px;
      font-size: 14px; }
      .encomendasWrapper .searchContainer .newListItemBtn:hover {
        background: #c0392b; }

.listContainer {
  width: 100%;
  background: #ebebeb;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 30px 0;
  position: relative;
  overflow-y: auto; }
  .listContainer .listTable {
    width: 95%;
    background: white;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 5px;
    padding: 10px; }
    .listContainer .listTable tr {
      height: 40px; }
      .listContainer .listTable tr .cell {
        min-width: 100px; }
      .listContainer .listTable tr th {
        text-align: left;
        font-size: 13px;
        color: #1f1f1f;
        font-weight: 400;
        border-bottom: 1px solid #b0b0b0;
        padding: 0 5px; }
      .listContainer .listTable tr:last-child th {
        border: none; }
      .listContainer .listTable tr .stateIcon {
        width: 25px !important;
        color: #b0b0b0; }
    .listContainer .listTable .tableHeader th {
      color: #b0b0b0;
      font-size: 12px;
      font-weight: 500; }
  .listContainer .loadMoreContainer {
    width: 100%;
    padding: 50px 0;
    color: #3367d6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .listContainer .loadMoreContainer .loadContent {
      cursor: pointer; }
      .listContainer .loadMoreContainer .loadContent:hover {
        color: #2850a7; }
  .listContainer .editItem {
    color: #f1c40f !important;
    cursor: pointer; }
  .listContainer .deleteItem {
    color: #e74c3c !important;
    cursor: pointer; }
  .listContainer .estado {
    font-size: 16px !important; }
  .listContainer .itemMoreInfo {
    cursor: pointer !important; }
    .listContainer .itemMoreInfo:hover {
      color: #1f1f1f !important; }
  .listContainer .faturaSecretaria {
    color: #be2edd; }
  .listContainer .pedidoCredito {
    color: #4834d4; }
  .listContainer .feito {
    color: #2ecc71 !important; }
  .listContainer .pendente {
    color: #f1c40f !important; }
  .listContainer .cabimentado {
    color: #55efc4 !important; }
  .listContainer .encomendado {
    color: #7f8c8d !important; }
  .listContainer .anulado {
    color: #e74c3c !important; }

.moreInfoContainer {
  background: #3367d6;
  width: 95%;
  height: 0;
  position: absolute;
  -webkit-transition: height 300ms ease-out;
  -o-transition: height 300ms ease-out;
  transition: height 300ms ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  .moreInfoContainer .moreInfoContent {
    height: 100%;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 100ms ease;
    -o-transition: all 100ms ease;
    transition: all 100ms ease;
    color: white; }
  .moreInfoContainer .pedidoContainer {
    width: 30%; }
  .moreInfoContainer .comentariosContainer {
    margin-left: 50px;
    width: 60%; }
  .moreInfoContainer .textContainer {
    width: 90%;
    height: 50px;
    background: white;
    color: #1f1f1f;
    border-radius: 3px;
    margin-top: 10px;
    padding: 10px;
    overflow-y: auto;
    font-size: 12px; }

.blackBackground {
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.9;
  z-index: 100;
  position: absolute;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease; }

.addListItemContainer {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 200;
  position: absolute;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease; }
  .addListItemContainer .formContainer {
    width: 55%;
    height: 90%;
    background: white;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 10px 30px;
    overflow-y: auto;
    position: relative; }
    .addListItemContainer .formContainer .newItemHeader {
      width: 100%;
      background: #3367d6;
      text-align: center;
      color: white;
      padding: 20px 0;
      z-index: 10;
      margin-bottom: 30px; }
    .addListItemContainer .formContainer .newItemIconsContainer {
      position: absolute;
      right: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 50px;
      z-index: 500;
      background: white; }
      .addListItemContainer .formContainer .newItemIconsContainer .iconsContainer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        font-size: 16px; }
        .addListItemContainer .formContainer .newItemIconsContainer .iconsContainer .newItemIcon {
          margin: 10px 0 !important;
          cursor: pointer !important;
          text-align: center; }
        .addListItemContainer .formContainer .newItemIconsContainer .iconsContainer .notClicked {
          color: #b0b0b0; }
      .addListItemContainer .formContainer .newItemIconsContainer .estadoContainer {
        border-bottom: 2px solid #EA2027; }
      .addListItemContainer .formContainer .newItemIconsContainer .feito {
        color: #2ecc71; }
      .addListItemContainer .formContainer .newItemIconsContainer .pendente {
        color: #f1c40f; }
      .addListItemContainer .formContainer .newItemIconsContainer .cabimentado {
        color: #55efc4; }
      .addListItemContainer .formContainer .newItemIconsContainer .encomendado {
        color: #7f8c8d; }
      .addListItemContainer .formContainer .newItemIconsContainer .anulado {
        color: #e74c3c; }
      .addListItemContainer .formContainer .newItemIconsContainer .newFaturaSecretaria {
        color: #be2edd; }
      .addListItemContainer .formContainer .newItemIconsContainer .pedidoCredito {
        color: #4834d4; }
    .addListItemContainer .formContainer .inputContainer {
      width: 40%;
      height: 50px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      margin: 0 20px 20px 0;
      position: relative; }
      .addListItemContainer .formContainer .inputContainer label {
        -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
        transform: translateY(100%);
        z-index: 1;
        -webkit-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
        color: #b0b0b0; }
      .addListItemContainer .formContainer .inputContainer input, .addListItemContainer .formContainer .inputContainer textarea, .addListItemContainer .formContainer .inputContainer select {
        border: none;
        border-bottom: 2px solid #b0b0b0;
        z-index: 2;
        background: none; }
        .addListItemContainer .formContainer .inputContainer input:focus, .addListItemContainer .formContainer .inputContainer textarea:focus, .addListItemContainer .formContainer .inputContainer select:focus {
          outline: none;
          border-bottom-color: #3367d6; }
      .addListItemContainer .formContainer .inputContainer #fornecedor {
        width: 80%; }
      .addListItemContainer .formContainer .inputContainer select {
        font-size: 16px; }
      .addListItemContainer .formContainer .inputContainer textarea {
        height: 200px; }
      .addListItemContainer .formContainer .inputContainer .fornecedoresListContainer {
        position: absolute;
        right: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        -webkit-transform: translateX(100px);
        -ms-transform: translateX(100px);
        transform: translateX(100px);
        z-index: 200; }
        .addListItemContainer .formContainer .inputContainer .fornecedoresListContainer .showFornecedoresListBtn {
          width: 50px;
          height: 50px;
          background: #3367d6;
          color: white;
          cursor: pointer;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          font-size: 20px; }
          .addListItemContainer .formContainer .inputContainer .fornecedoresListContainer .showFornecedoresListBtn:hover {
            background: #2850a7; }
        .addListItemContainer .formContainer .inputContainer .fornecedoresListContainer .fornecedoresList {
          width: 110px;
          height: 200px;
          -webkit-transform: translateY(150px);
          -ms-transform: translateY(150px);
          transform: translateY(150px);
          overflow-y: auto;
          overflow-x: hidden;
          -webkit-transition: all 300ms ease;
          -o-transition: all 300ms ease;
          transition: all 300ms ease; }
          .addListItemContainer .formContainer .inputContainer .fornecedoresListContainer .fornecedoresList::-webkit-scrollbar-track {
            background-color: none; }
          .addListItemContainer .formContainer .inputContainer .fornecedoresListContainer .fornecedoresList::-webkit-scrollbar {
            width: 5px;
            background-color: #3367d6; }
          .addListItemContainer .formContainer .inputContainer .fornecedoresListContainer .fornecedoresList::-webkit-scrollbar-thumb {
            background-color: #130f40; }
          .addListItemContainer .formContainer .inputContainer .fornecedoresListContainer .fornecedoresList .fornecedor {
            width: 100%;
            padding: 10px;
            background: #3367d6;
            color: white;
            font-size: 12px;
            cursor: pointer; }
            .addListItemContainer .formContainer .inputContainer .fornecedoresListContainer .fornecedoresList .fornecedor:hover {
              background: #2850a7; }
    .addListItemContainer .formContainer .fullWidthInput {
      width: 100%; }
      .addListItemContainer .formContainer .fullWidthInput .submitBtn {
        width: 100%;
        color: #3367d6;
        padding: 10px 0;
        text-align: right;
        margin-top: 20px; }
        .addListItemContainer .formContainer .fullWidthInput .submitBtn span {
          cursor: pointer;
          margin: 0 10px; }
        .addListItemContainer .formContainer .fullWidthInput .submitBtn .cancelNewItem {
          color: #EA2027; }
    .addListItemContainer .formContainer .inputFocus label {
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      transform: translateY(-10px);
      color: #3367d6;
      font-size: 12px; }
